<ul class="nav nav-tabs">
    <li class="first"><a href="#" ng-click="prevWeek()" class="fa fa-chevron-left"></a></li>
    <li ng-repeat="d in range" ng-class="{active: active(d)}">
        <a href="#" ng-click="activate(d)"><span>{{d.format("ddd")}} <em>{{d.format("MMM")}}</em></span><strong>{{d.format("DD")}}</strong></a>
    </li>
    <li class="last"><a href="#" ng-click="nextWeek()" class="fa fa-chevron-right"></a></li>
    <div id="timecard" class="tab-content" focus-group="">
        <div class="tab-pane active">
            <select id="p" class="form-control" ng-options="p as p.name for p in projects" ng-model="project" data-placeholder="Select a Project">
                <option></option>
            </select>
            <br>
            <select id="t" class="form-control" ng-options="t as t.name for t in project.tasks" ng-model="task" data-placeholder="Select a Task">
                <option></option>
            </select>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <input type="text" class="form-control input-time" placeholder="1h 15m" ng-model="time">
                </div>
                <div class="col-md-8">
                    <textarea class="form-control input-note" rows="3" style="height: 70px" placeholder="Note" ng-model="note"></textarea>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-log" ng-click="log()">Log</button>
        </div>
    </div>
</ul>
<script type="text/javascript">
$('select').select2();
$('select#p').select2('focus');
</script>