<ul class="nav nav-tabs pull-left">
    <li class="first"><a href="#" ng-click="prevWeek()" class="fa fa-chevron-left"></a></li>
    <li ng-repeat="d in range" ng-class="{active: active(d)}">
        <a href="#" ng-click="activate(d)"><span>{{d.format("ddd")}} <em>{{d.format("MMM")}}</em></span><strong>{{d.format("DD")}}</strong></a>
    </li>
    <li class="last"><a href="#" ng-click="nextWeek()" class="fa fa-chevron-right"></a></li>
    <div id="timecard" class="tab-content">
        <div class="tab-pane active">
            <ui-select ng-model="project.selected" theme="bootstrap" on-select="updateTasks($item, $model)">
                <ui-select-match placeholder="Select a Project">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="p in projects | filter: $select.search">
                  <div ng-bind-html="p.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <br>
            <ui-select ng-model="task.selected" theme="bootstrap">
                <ui-select-match placeholder="Select a task">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="t in project.selected.tasks | filter: $select.search">
                  <div ng-bind-html="t.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <input type="text" class="form-control input-time" placeholder="1h 15m" ng-model="time">
                </div>
                <div class="col-md-8">
                    <textarea class="form-control input-note" rows="3" style="height: 70px" placeholder="Note" ng-model="note"></textarea>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-log" ng-click="log()">Log</button>
        </div>
    </div>
</ul>
<div class="shortcuts pull-left">
    <h4>Recently Used</h4>
    <ul ng-repeat="(key, value) in shortcuts" class="nav">
        {{key}}
        <li ng-repeat="t in value"><a href="#" ng-click="shortcut(key, t)">{{t}}</a></li>
    </ul>
</div>