<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="shiro" uri="http://shiro.apache.org/tags" %>
<div class="container-fluid">
    <h3>User administration</h3>
    <shiro:lacksRole name="administrator">
        Sorry, you are not allowed to administer users.
    </shiro:lacksRole>
    <shiro:hasRole name="administrator">
    <div class="row">
        <div class="col-md-6">
            <form name="user" ng-submit="save()">
              <div class="form-group">
                <input type="text" class="form-control" id="user" placeholder="Full user name" ng-model="_user.name" required>
                <p class="help-block">Full user name will be shown across the entire application.</p>
              </div>
              <div class="checkbox">
                <label>
                  <input name="isadmin" type="checkbox" ng-model="opts.isAdmin"> is administrator?
                </label>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="user" placeholder="Email" ng-model="_user.id" required>
                <p class="help-block">User unique identifier.</p>
              </div>
              <div class="checkbox" ng-if="opts.isEdit">
                <label>
                  <input name="passupdate" type="checkbox" ng-model="opts.passUpdate"> change or set password?
                </label>
              </div>
              <div class="form-group" ng-show="opts.passUpdate">
                <input type="password" class="form-control" id="pass" placeholder="User password" ng-model="_user.password" ng-required="opts.passUpdate">
              </div>
              <div class="form-group" ng-show="opts.passUpdate">
                <input type="password" class="form-control" id="pass-rewrite" placeholder="Repeat user password" ng-model="_user.passwordRewrite" ng-required="opts.passUpdate">
              </div>
              <button type="submit" class="btn btn-primary">SAVE USER</button>
            </form>
        </div>
        <div class="col-md-6">
            <table cellpadding="1" cellspacing="1" class="table">
                <thead>
                <tr>
                    <th class="col-md-3">Name</th>
                    <th class="col-md-4">Email</th>
                    <th class="col-md-3">Roles</th>
                    <th class="col-md-2">Options</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in _list" ng-class="{highlight: p.id == _user.id}">
                    <td>{{p.name}}</td>
                    <td>{{p.id}}</td>
                    <td>{{p.roles}}</td>
                    <td><i class="fa fa-times" ng-click="remove(p.id)"></i> <i class="fa fa-pencil-square-o" ng-click="edit(p.id)"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </shiro:hasRole>
</div>